<div class="selectionForm">
  <%= render "static_pages/header" %>
</div>

<h1>What is "Get Your Did" ?</h1>
<p class="about">"Get your ___ did" is the Open Table meets Yelp for looking fly!</p>
<br>
<p class="about">Face it, you don't have time to call around to find an available appointment days or even weeks in advance
then hope that your stylist will get your style. "Get Your Did" allows you to search for available appointments by
specific dates and times, salon or stylist, or find an stylist based on location, user ratings or stylist speciality.</p>
<br>
<p class="about">Once you schedule an appointment, you can send your stylist specific requests to ensure you get the treatment you
you are looking for, and your stylist can check-out your Pinterest board to get an idea of what you will like!</p>
<br>
<p class="about">Looking good has never been so easy!</p>

<div id="footer">
  <%= render "static_pages/footer" %>
</div>
