<div id="container">
  <div id="navigation">
    <%= render "static_pages/header" %>
  </div>
  <div id="body">
    <%= render "static_pages/form" %>
<!--need to add a partial to display appointments based on the filter above -->
  </div>
  <div id="footer">
    <%= render "static_pages/footer" %>
  </div>
</div>
