<div id="container">
  <div id="navigation">
    <%= render "static_pages/header" %>
  </div>
  <div id="body">
    <%= render "static_pages/form" %>

  </div>
  <div id="footer">
    <%= render "static_pages/footer" %>
  </div>
</div>
